<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/MyProjects/Zlist/public/style.css">
</head>
<body>
    <form action="/addGoal" method="POST">
<div><h1>Zlist</h1></div>
<div class="container">
    <form action="/addGoal" method=""></form>
    <div class="Zlist">

        <div class="row">
        <input type="text" name="input" placeholder="ex:Clean room" class="input">
        <button type="submit" name="submit">Add</button></div>
        </div>
        <ul id="list-container">
            <% goals.forEach((goal) => { %>
                <li><%= goal %></li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>